<h3 *ngIf="dtoUsertype === 'DRIVER'; else elseTitle">
  <!-- | uppercase è un pipe, trasforma la stringa mettendo tutte le lettere maiuscole-->
  {{dto.driver.name | uppercase }} {{dto.driver.surname | uppercase }}'S DETAILS
</h3>
<ng-template #elseTitle>
  <h3>
    <!-- | uppercase è un pipe, trasforma la stringa mettendo tutte le lettere maiuscole-->
    {{dto.passenger.name | uppercase }} {{dto.passenger.surname | uppercase }}'S DETAILS
  </h3>
</ng-template>

<table>
  <tr>
    <th>Name</th>
    <th>Surnname</th>
    <th>Phone</th>
    <th>Age</th>
    <th *ngIf="dtoUsertype === 'DRIVER'">
      Driver License
    </th>

    <th>Edit</th>
    <!--<th>Delete</th>-->
  </tr>
  <tr>
    <td *ngIf="dtoUsertype === 'DRIVER' ; else elseBlock"> <input [(ngModel)]="dto.driver.name"> </td>
    <td *ngIf="dtoUsertype === 'DRIVER'"> <input [(ngModel)]="dto.driver.surname"> </td>
    <td *ngIf="dtoUsertype === 'DRIVER'"> <input [(ngModel)]="dto.driver.phone"> </td>
    <td *ngIf="dtoUsertype === 'DRIVER'"> <input type="number" min="0" [(ngModel)]="dto.driver.age"> </td>
    <td *ngIf="dtoUsertype === 'DRIVER'"> <input [(ngModel)]="dto.driver.driverLicense"> <input type="hidden"
        [(ngModel)]="dto.driver.id"></td>
    <ng-template #elseBlock>
      <td> <input [(ngModel)]="dto.passenger.name"> </td>
      <td> <input [(ngModel)]="dto.passenger.surname"> </td>
      <td> <input [(ngModel)]="dto.passenger.phone"> </td>
      <td> <input type="number" min="0" [(ngModel)]="dto.passenger.age"> <input type="hidden"
          [(ngModel)]="dto.passenger.id"> </td>

    </ng-template>

    <td>
      <button (click)=update(dto)><i class="fas fa-edit"></i>Edit</button>
    </td>
    <!--<td>
      <button (click)="delete(dto.id)"><i class="fas fa-trash"></i>Delete</button>
    </td>-->
  </tr>
</table>