<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse"
  data-target="#city_target" aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-city"></i>
    <span>City</span>
  </a>
  <div id="city_target" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Custom Components:</h6>
      <a
      class="collapse-item"
      [routerLink]="['/admin-dashboard/city']" >CityList</a>
      <a class="collapse-item" >CityEdit</a>
    </div>
  </div>
</li>
