<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#user_target" aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-user"></i>
    <span>User</span>
  </a>
  <div id="user_target" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Custom Components:</h6>
 <!--

   <a
   class="collapse-item"
   [routerLink]="['/admin-dashboard/users']" >
   <i class="fas fa-file-alt"></i>
   UserList</a>

  -->

      <a class="collapse-item" [routerLink]="['/admin-dashboard/users']" >
        <i class="fas fa-user-edit"></i>
        UserEdit</a>
    </div>
  </div>
</li>
