<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <table>
        <tr>
          <th>
            Date
          </th>
          <th>
            Truck
          </th>
          <th>
            Edit
          </th>
          <th>
            Delete
          </th>
        </tr>
        <tr>

          <td>
            <input placeholder="date" type="date" [(ngModel)]="travelinsert.date">
          </td>
          <td>
          <select [(ngModel)]="travelinsert.truckDTO">
            <option *ngFor="let truck of trucks" [ngValue]="truck" >{{truck.model}}</option>
          </select>
          </td>
          <td>
            <button (click)="insert(travelinsert)"><i class="fas fa-plus"></i>Insert</button>
          </td>
          <td>
            <button (click)="clear()"><i class="fas fa-times"></i>Clear</button>
          </td>

        </tr>
        <tr *ngFor="let travel of travels">
          <td>
            <input [(ngModel)]="travel.date">
          </td>
         <td>
           <label >{{travel.truckDTO.model}}</label>
          </td>
        <td> <button (click)=update(travel)><i class="fas fa-edit"></i>Edit</button>  </td>
          <td>
            <button (click)="delete(travel)"> Delete </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <!-- Se "selected" non è nullo, viene passato il suo valore sotto la chiave dto alla compoment
        figlia. Questo è un esempio di binding unidirezionale tra ts e ts-->
      <app-user-details *ngIf="selected" [dto]="selected"></app-user-details>
    </div>
  </div>
</div>